.DS_Store
.gradle/
.idea/
build/
out/
*.iml
.env
docs/
infra/mosquitto/data/*
!infra/mosquitto/data/.gitkeep
infra/mosquitto/log/*
!infra/mosquitto/log/.gitkeep
infra/mysql/data/*
!infra/mysql/data/.gitkeep
clients/**/__pycache__/
frontend/node_modules/
frontend/dist/
